.nav{
    padding: 12px;
    padding-left: 50px;
    background-color: black;
    color: white;   
}
.nav-link-custom {
  font-size: 18px;
  color: white !important;
  padding: 10px;
  text-decoration: none !important;
}
.nav-link-custom:hover {
  color: #ccc !important;
}
@media (max-width: 991px) {
  .navbar-collapse .nav-link-custom {
    display: block;
    width: 100%;
    padding-left: 0;
  }

  .navbar-collapse {
    padding-top: 10px;
  }
}
